com-mmxlabs-common-util/com.mmxlabs.common.common-recorder/META-INF/schemas/InterfaceRecorder-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright (C) Minimax Labs Ltd., 2010 - 2017
    All rights reserved.

-->
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.mmxlabs.com/schemas/InterfaceRecorder-1.0.0"
	xmlns:ir="http://www.mmxlabs.com/schemas/InterfaceRecorder-1.0.0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="operations">
		<xsd:choice maxOccurs="unbounded" minOccurs="0">
			<xsd:element name="methods" type="ir:method" />
		</xsd:choice>
		<xsd:attribute name="interface" type="xsd:string" use="required" />
	</xsd:complexType>
	<xsd:element name="operations" type="ir:operations" />
	<xsd:complexType name="method">
		<xsd:choice maxOccurs="unbounded" minOccurs="0">
			<xsd:element name="arguments" type="ir:argument" />
		</xsd:choice>
		<xsd:attribute name="name" type="xsd:string" />
		<xsd:attribute name="arguments" type="xsd:string" />
	</xsd:complexType>
	<xsd:element name="method" type="ir:method" />
	<xsd:complexType name="argument">
		<xsd:attribute name="type" type="xsd:string" />
		<xsd:attribute name="ref" type="xsd:string" />
		<xsd:attribute name="value" type="xsd:string" />
	</xsd:complexType>
	<xsd:element name="argument" type="ir:argument" />
</xsd:schema>
